:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-main:#2E2F42;
  --secondary-text-main:#434455;
  --accent-color: #4D5AE5;
  --text-hero-footer: #FFFFFF;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 
body {
  font-family: var(--primary-font-family);
  color: var(--secondary-text-main);
  background-color: var(--text-hero-footer);
}



.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
margin-top: 0;
margin-bottom: 0;
}
ul,
ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img {
display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; 
  }

  @media screen and (min-width: 428px) { 
    .container {
      max-width: 428px; 
      margin-left: auto;
      margin-right: auto;          
               
    }
  }
 
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px; 
      padding-left: 15px;
      padding-right: 15px;
    }   
  }  
  
.section {
padding-top: 96px;
padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px; 
  }
}

.title {
  margin-bottom: 72px;
}
 
.btn {
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  

} 


/*====Шапка с навигацией====*/

  
.header {
display: flex; 
align-items: center;
border-bottom: 1px solid #E7E9FC;
box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 
 0px 1px 1px rgba(46, 47, 66, 0.16),
 0px 1px 6px rgba(46, 47, 66, 0.08); 
padding-top: 24px;
padding-bottom: 24px; 
 }  
 @media screen and (min-width: 768px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    }  
}
@media screen and (min-width: 1158px) {
  .header {
    padding-top: 24px; 
    padding-bottom: 24px;  
  }
}


.header-container {
display: flex; 
align-items: center;
justify-content: space-between;
} 

 
@media screen and (min-width: 768px) {
  .navigation { 
    display: flex;
    align-items: center; 
  } 
}
  
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;  
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo  { 
    margin-right: 120px; 
  } 
}
 
@media screen and (min-width: 1158px) {
  .logo  { 
    margin-right: 76px; 
  } 
} 

.accentlogo {
  color: var(--primary-text-main);
}

.menu-list {   
  visibility: hidden;
  pointer-events: none;
  margin: 0;
  padding: 0;
  display: none;
 } 
 @media screen and (min-width: 768px) {
  .menu-list {   
    display: flex;
    visibility: visible;
    pointer-events: auto;
    gap: 40px; 
   } 
}

@media screen and (min-width: 768px) {
  .menu-list-item {
    padding: 24px 0; 
    position: relative;
    font-weight: 500;  
    font-size: 16px;
    line-height: 1.50; 
    letter-spacing: 0.02em;
    color: var(--primary-text-main);  
    transition: color var(--transition-duration-and-func);
  }
}

@media screen and (min-width: 768px) {
.menu-list-item:hover,
.menu-list-item:focus {
  color:#404bbf;
} 
} 

@media screen and (min-width: 768px) {
  .current {
    color: #404BBF; 
  }  
}

@media screen and (min-width: 768px) {
  .current::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;  
    display: block;  
    width: 100%;
    height: 4px;
    background-color:#404BBF;
    border-radius: 2px;   
  }
} 

.contact {
  display: none;  
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;  
  }
}
 
@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
  }
} 
@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contact-link {
    font-style: normal;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 1.16;
    color: var(--secondary-text-main);
    transition: color var(--transition-duration-and-func);
 }
} 
@media screen and (min-width: 1158px) {
  .contact-link {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
  }
}
 
@media screen and (min-width: 768px) {
  .contact-link:hover, 
  .contact-link:focus { 
  color: #404bbf; 
 }
}

 /*============ мобільне меню========*/

  
.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
} 

@media screen and (min-width: 768px) {
.mobile-menu-open-btn {
  display: none;
}
} 

.mobile-menu-open-btn:hover, 
.mobile-menu-open-btn:focus { 
color: #404bbf; 
}


@media screen and (max-width: 767px) { 
.mobile-menu {   
     
    position: fixed; 
    background-color: var(--text-hero-footer);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
      
     
    
    opacity: 0;
    visibility: hidden; 
    pointer-events: none;
}
}
 
@media screen and (min-width: 768px) {
  .mobile-menu {   
      display: none;
  } 
  } 
 
  .mobile-menu.is-open { 
    opacity: 1;
    pointer-events: auto;
    visibility: visible; 
   
  }  
 
.mobile-menu-container { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition-duration-and-func), border var(--transition-duration-and-func);
} 

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus { 
  background-color: #404bbf; 
    
}  

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.current a {
  color: #404bbf;
}

.mobile-menu-list-item {
  color: var(--primary-text-main);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-info-wrapper {
  display: flex;
  flex-direction: column;
}

.mobile-contact {
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tel {
  font-style: normal; 
  font-weight: 700;
  font-size: 24px; 
  line-height: 1.66; 
  letter-spacing: 0.02em;  
  text-transform: capitalize;
  color: var(--accent-color);  
}  

.email {
  font-style: normal; 
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;  
  color: var(--secondary-text-main);
}

.mobile-menu-social-list {
  display: flex;
    justify-content: space-between;
  } 

  .mobile-menu-social-link {
  display: flex;  
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  align-items: center;
  transition: background-color var(--transition-duration-and-func);
}

.mobile-menu-social-link:hover,  
.mobile-menu-social-link:focus {
  background-color: #404bbf; 
} 

.mobile-menu-social-icon {
  fill: #F4F4FD; 
} 


/*====HERO=====*/
 
.hero { 
  background-color: #2E2F42;
  max-width: 1440px;
  padding-top: 112px; 
  padding-bottom: 112px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2E2F42; 
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero7/hero_m.jpg);
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero7/hero_m@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero7/hero_t.jpg);
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero7/hero_t@2x.jpg);
   }
}

@media screen and (min-width: 1158px){
  .hero {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero7/hero_d.jpg);
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero7/hero_d@2x.jpg);
    padding-top: 188px;
    padding-bottom: 188px;

}
} 
 
.main-title {  
  font-weight: 700;
  font-size: 36px;   
  line-height: 1.11; 
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; 
  letter-spacing: 0.02em;
  color: var(--text-hero-footer); 

 
}     

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center; 
    margin-bottom: 36px;
     
 } 
}   

.modal-btn {
  display: block;
  min-width: 169px; 
  height: 56px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--text-hero-footer);
  background-color: var(--accent-color);
  border-radius: 4px;
  transition: background-color var(--transition-duration-and-func); 
  margin-right: auto;
  margin-left: auto; 
}

.modal-btn:hover, 
.modal-btn:focus {
  background-color: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
}

/*=====Описание сайта=====*/

.content-icon {
  display: none;
  }

@media screen and (min-width: 1158px){
  .content-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border-radius: 4px;
  }  
} 


@media screen and (min-width: 768px){
  .content-list {
    display: flex; 
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 72px;  
  } 
}  

@media screen and (min-width: 1158px){
  .content-list {
    flex-wrap: nowrap;  
  } 
} 

.content-item-box {
  margin-bottom: 72px;
} 

@media screen and (min-width: 768px){
  .content-item-box {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
}  
}  

@media screen and (min-width: 1158px){
  .content-item-box {
    width: calc((100% - 72px) / 4);
    }
}     

.content-title { 
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-main);
  margin-bottom: 8px; 
  font-style: normal; 
  
} 

@media screen and (min-width: 768px){
  .content-title { 
    text-align: left;
  } 
}  

@media screen and (min-width: 1158px){
  .content-title { 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  } 
}   

.content-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-main);
  
}

@media screen and (min-width: 1158px){
  .content-item {
    font-weight: 400;
  }   
}  
 

/*======Галерея======*/

.gallery {
  display: none;
}

@media screen and (min-width: 1158px){
  .gallery {
    display: flex; 
  }
}   

.section.gallery.section {
  padding-top: 0px;
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-items-box {
  width: calc((100% - 48px) / 3)
  margin-right: 0;
}

.gallery-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-main);
}

.gallery-img {
  background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
  background-blend-mode: soft-light, normal;
  border: 1px solid #E7E9FC;
}

/*========Сотрудники==========*/

.user-team {
  background-color:#F4F4FD;
  } 

.user-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-main);
}

.users-team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: center;

} 

@media screen and (min-width: 768px){
  .users-team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  
}  
}

.users-team-box {
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 24px) / 2);
  background-color: var(--text-hero-footer); 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
} 
   

@media screen and (min-width: 768px){
  .users-team-box {
    flex-basis: calc((100% - 24px) / 4);
  }    
}  
 
@media screen and (min-width: 1158px){
  .users-team-box {
    flex-basis: calc((100% - 72px) / 4); 
    
  }     
}    

.users-team-foto {
  background: url(man-with-laptop-presenting-something.jpg);
  border-radius: 0px;
}

.user-team-wrapper {
  background: #ffffff;
  padding: 32px 16px; 
   
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0;
}

.user-name {
  margin-bottom: 8px; 
  font-weight: 500; 
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-main);
}
 
.user-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-main);
  margin-bottom: 8px; 
}

.social-list {
  display: flex;
  justify-content: center; 
  gap: 24px;
} 

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  cursor: pointer;  
  transition: background-color var(--transition-duration-and-func);
}  

.social-list-icon { 
  fill: #f4f4fd; 
} 

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf; 
}  
 


/*=======Клієнти=========*/

.clients-title {
  font-weight: bold; 
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--primary-text-main); 
}

.clients-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
} 

@media screen and (min-width: 768px){
  .clients-item {
    justify-content: center;
  }   
}  
 
@media screen and (min-width: 1158px){
  .clients-item {
    display: flex;
    gap: 24px;
}
  }        
 
.client-list {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
} 

@media screen and (min-width: 768px){
  .client-list {
    flex-basis: calc((100% - 24px) / 4);
}  
} 
 
@media screen and (min-width: 1158px){
  .client-list {
    flex-basis: calc((100% - 120px) / 6);
  }     
}     
 
.client-list-link {

  display: flex; 
  width: 100%;
    height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: border-color var(--transition-duration-and-func), color var(--transition-duration-and-func);
} 

@media screen and (min-width: 768px){
  .client-list {
    flex-basis: calc((100% - 24px) / 4);
}  
} 
 
@media screen and (min-width: 1158px){
  .client-list {
    flex-basis: calc((100% - 120px) / 6);
  }     
}     
 
.client-icon {
  fill: currentColor;
  transition: fill var(--transition-duration-and-func); 
}

.client-list-link:hover,
.client-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;  
}  

.client-list-link:hover .client-icon ,
.client-list-link:focus .client-icon { 
fill: #404BBF; 
}

/*=======Контакты=========*/

.contact-footer {
  padding: 100px 0;
  background: #2E2F42; 
} 

.footer-container { 
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px){ 
  .footer-container { 
    display: flex;
    flex-wrap: wrap;
    width: 584px;
    gap: 72px 24px;
    flex-direction: unset;
    justify-content: left;
  }
}   
 
@media screen and (min-width: 1158px){
  .footer-container { 
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 0;
  } 
}    

.logo-box {
  text-align: center;
} 

@media screen and (min-width: 768px){
  .logo-box {
   text-align: left;
}  
}     
@media screen and (min-width: 1158px){
  .logo-box {
   text-align: left;
   margin-right: 120px;
} 
}      
 
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font-family);
  font-weight: 800;  
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-transform: uppercase;
}

.accentlogo-contacts { 
 color: #f4f4fd;
}

 .contact-text { 
  max-width: 264px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #F4F4FD; 
   
}

@media screen and (min-width: 1158px){
  .contact-text{  
    max-width: 264px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }  
}    

.footer-box {
  text-align: center;
  } 
  
  @media screen and (min-width: 768px){
    .footer-box { 
      text-align: left;
    } 
  }    
  @media screen and (min-width: 1158px){
    .footer-box { 
      text-align: left;
      margin-right: 80px;
    } 
  }   


.footer-social-text {
  text-align: center;
  font-weight: 500; 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-hero-footer);
  margin-bottom: 16px;
} 

@media screen and (min-width: 768px){
  .footer-social-text {
    text-align: left; 
  } 
}     

.footer-social-item {
  display: flex;
  width: 208px;
  justify-content: center;
  list-style: none;
  gap: 16px;  
  }  


.footer-social-link {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background-color: #4D5AE5;
border-radius: 50%;
transition: background-color var(--transition-duration-and-func);
}   

.footer-social-icon{
  fill:#f4f4fd;
} 

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31D0AA;
}

.contact-form-wrapper {
  text-align: center;
    width: 100%;
} 

@media screen and (min-width: 768px){
  .contact-form-wrapper {
    width: 240px;
  } 
}    

.contact-form-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-hero-footer);
  margin-bottom: 16px;  
}

@media screen and (min-width: 768px){
  .contact-form-title {
    text-align: left; 
  } 
}   

@media screen and (min-width: 768px){
  .contact-form {
    display: flex;
    gap: 24px;
   
  } 
}   

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--text-hero-footer);
  background-color: transparent; 
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 16px;
  color: #FFFFFF;
  transition: border-color var(--transition-duration-and-func);
  
} 

@media screen and (min-width: 768px){
  .contact-form-input {
    min-width: 264px;
  } 
}   

.contact-form-input:hover,
.contact-form-input:focus {  
  border-color: #4D5AE5;
  outline: transparent;  
} 
 
.contact-form-input::placeholder{ 
     
    color: #FFFFFF;
     
} 

.contact-form-button { 
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 8px 24px; 
    letter-spacing: 0.04em; 
    color: #FFFFFF; 
    border: none; 
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition-duration-and-func);
  }   


.contact-form-icon {
  margin-left: 16px;
}

.contact-form-button:hover,
.contact-form-button:focus {
  background-color: #404BBF; 
}

/*======Портфолио======*/

.section.portfolio.section {
  padding-top: 96px; 
}

.modal-items {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 72px;
} 

.modal-btn-item {
  
  } 
       
   
.modal-btn-portfolio {
  padding: 12px 24px;  
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #F4F4FD;
  border: 1px solid #E7E9FC;
  color: #4d5ae5;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 

.modal-btn-item:not(:last-child) {
  margin-right: 24px;
} 

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  background-color: #404BBF;
  color: var(--text-hero-footer);  
  border-color: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 1px rgba(0, 0, 0, 0.08),  
  0px 2px 2px rgba(0, 0, 0, 0.12); 
  
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap; 
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-box { 
  width: calc((100% - 48px) / 3);
  margin-right: 0;
  margin-bottom: 0;
  
}     

.portfolio-card {
  display: block; 
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  
  
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16),
   0px 2px 1px rgba(46, 47, 66, 0.08);  
} 
   
 .portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
} 

.portfolio-img {
  
  background: url(4074365.jpg); 
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 40px 32px; 
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #F4F4FD; 
  background: #4D5AE5;
  overflow: auto; 
  transform: translateY(100%);
  transition: transform var(--transition-duration-and-func);
}  

.portfolio-card:hover .overlay-text,
.portfolio-card:focus .overlay-text {
  transform: translateY(0);
}

.portfolio-wrapper {
  background: #ffffff;
  padding: 32px 16px;  
  border: 1px solid #E7E9FC;
  border-top: none;
}  

.user-team-wrapper {
  border-top: none;
}
 
.portfolio-title { 
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-main);
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-main);
}

/*======Модальное окно======*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}

.backdrop.is-hidden { 
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} 

@media screen and (max-width: 427px) {
.modal {
    max-width: 100%;
}
}  
.modal {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: #FCFCFC;  
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 2px 1px rgba(0, 0, 0, 0.2); 
   border-radius: 4px;
   padding: 72px 24px 24px 24px; 
   transition: transform var(--transition-duration-and-func);
}  


.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0; 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf; 
  border: none;
  fill: #ffffff; 

} 

.modal-close-icon {
  transition: fill var(--transition-duration-and-func); 

}  


.form-title { 
  display: block;
  margin-bottom: 16px;     
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-main); 
}   

.form-group { 
 display: block;
 margin-bottom: 8px; 
 }   

 
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99; 
}

.form-group-input {
 position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px; 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-duration-and-func);
}

.form-input:focus {  
  outline: 0;
  border-color: #4D5AE5; 
} 

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%); 
  fill: #2E2F42; 
  transition: fill var(--transition-duration-and-func);
}  

.form-input:focus + .form-icon {  
  fill: #4D5AE5;   
} 

.form-group-comment {
  margin-bottom: 16px;
 }
    
.form-textarea { 
  width: 100%;  
  height: 120px; 
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);  
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px; 
  background-color: transparent; 
  outline: transparent;
  resize: none;
  transition: border-color var(--transition-duration-and-func);
}  

.form-textarea:hover,
.form-textarea:focus {
  border-color: #4D5AE5;   
}

.form-textarea::placeholder {
  font-style: normal;
  color: rgba(46, 47, 66, 0.4);  
}

.form-group-checkbox {
  margin-bottom: 24px; 
}

.form-policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

 
.form-policy-desc {  
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;  
   
} 

.link-form-policy-desc {
  color:#4d5ae5;
} 

.checkbox {
appearance: none;
position: absolute; 
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline-offset: -2px;
  fill: transparent; 
  transition: background-color var(--transition-duration-and-func), border var(--transition-duration-and-func), fill var(--transition-duration-and-func);
  }
 
 
.custom-checkbox-icon {
  cursor: pointer; 
    
}

.checkbox:checked + .form-policy-desc  
.custom-checkbox { 
  background-color:#404bbf;
  border: none;
  fill: #ffffff;  
  
}
  
.submit-btn {
  margin-right: auto;
  margin-left: auto; 
  margin-top: 0;
  margin-bottom: 0;
  display: block;  
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  gap: 10px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;  
  text-align: center;
  letter-spacing: 0.04em; 
 color: #FFFFFF; 
 cursor: pointer;
transition: background-color var(--transition-duration-and-func);
}    
 
.submit-btn:hover,
.submit-btn:focus {
  background-color: #404BBF;
}
 


